.outer {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.banner {
  width: 100%;
  border-radius: 8px;
  background-image: url('/Cloudscape.jpg');
  background-size: cover;
  background-position: bottom;
  background-color: rgba(255, 255, 255, 0.3);
  background-blend-mode:lighten;

  color: white;
  padding: 10px 16px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .banner-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
}

.section {
  padding: 10px 16px;
  border-radius: 8px;
}

.secondary {
  color: var(--text-secondary);
}

.footer {
  background-color: var(--surface);
}

.terminal-ss {
  width: 100%;
  border-radius: 8px;
  margin-top: 10px;
}

.hotkey {
  position: absolute;
  right: -8px;
  top: -4px;
  width: 18px;
  height: 18px;
  font-size: 14px;
  font-weight: 400;
  background-color: var(--gray);
  color: var(--text);
  border-radius: 2px;
  border-bottom: solid 4px var(--gray-dark);

  display: flex;
  flex-direction: row;
  justify-content: center;
}
