.rical-button {
  background-color: var(--rical-red);
  border-radius: 4px;
  border: none;
  color: white;
  padding: 4px 18px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: fit-content;

  &:focus-visible, &.pressed {
    outline: solid 4px var(--blue-outline);
  }

  &:hover {
    cursor: pointer;
    background-color: var(--rical-red-light);
    color: white;
  }

  &:active, &.pressed {
    background-color: var(--rical-red-dark);
  }

  &:disabled {
    background-color: var(--disabled);
    cursor: default;
    color: var(--gray-dark);
  }
}

.icon-button {
  font-size: 18px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 8px;
  border: none;
  border-radius: 4px;

  background-color: transparent;

  color: var(--text-secondary);
  transition: color 0.1s;

  &:hover {
    color: var(--text);
    cursor: pointer;
  }
}

.rical-button:active, .rical-button.pressed, .icon-button:active, .icon-button.pressed {
  .hotkey {
    border-bottom: none;
    height: 16px;
    top: -2px;
  }
}

.hotkey {
  position: absolute;
  right: -8px;
  top: -4px;
  width: 18px;
  height: 18px;
  font-size: 14px;
  font-weight: 400;
  background-color: var(--gray);
  color: var(--text-gray);
  border-radius: 2px;
  border-bottom: solid 4px var(--gray-dark);

  display: flex;
  flex-direction: row;
  justify-content: center;

  &:hover {
    cursor: help;
  }
}

.rical-link {
  position: relative;
  padding-right: 10px;

  &.pressed {
    color: var(--blue-light);
  }
}
